<div class="list" style="padding:44px 0 60px;">
    <header class="bar bar-nav">
      <a class="icon icon-left-nav pull-left" href="javascript:history.back();"></a>
      <a class="icon  pull-right " href="javascript:;"></a>
      <h1 class="title">添加网站</h1>
    </header>
    <div class="form">
      <div class="div" style="padding:10px;">
          <input type="text" placeholder="网站名称" required="required" >
          <input type="text" placeholder="网站类型" required="required" >
          <input type="url" placeholder="网站地址" required="required" >
      <div class="submit" style="padding:0 10px;">
        <button class="btn btn-primary btn-block">保存</button>
        <button class="btn btn-block btn-outlined">取消</button>
      </div>
    </div>

     <nav class="bar bar-tab">
      <a class="tab-item " href="index.html">
        <span class="icon icon-home"></span>
        <span class="tab-label">首页</span>
      </a>
      <a class="tab-item active" href="#addsite">
        <span class="icon icon-person"></span>
        <span class="tab-label">添加数据</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-star-filled"></span>
        <span class="tab-label">爱好</span>
      </a>
      <a class="tab-item" href="#activity">
        <span class="icon icon-sound"></span>
        <span class="tab-label">摇一摇</span>
      </a>
      <a class="tab-item" href="#">
        <span class="icon icon-gear"></span>
        <span class="tab-label">设置</span>
      </a>
    </nav>
</div>